/* common */
html {
  font-family: 'Noto Sans KR', sans-serif;
}

/* layout */
.cw {
  width: 1440px;
  margin: 0 auto;
}

/* --------header-------- */
header {
  padding-top: 30px;
  display: flex;
  position: fixed;
  top: 0;
  left: 240px;
  justify-content: space-between;
  z-index: 1;
}

.logoArea img {
  width: 170px;
  height: 40px;
  object-fit: contain;
}

.gnb>ul {
  display: flex;
}

.gnb>ul>li {
  width: 140px;
  color: white;
}

.gnb>ul>li>ul {
  display: none;
}

.gnb:hover {
  display: block;
}

.langList>ul {
  display: flex;
  color: #888;
}

.langList>ul>li {
  padding: 0 15px;
  border-right: 1px solid #888;
}

.langList>ul>li:last-of-type {
  border-right: none;
}

/* main */
main {
  border-bottom: 1px solid #888;
}

/*-------- main-videobanner --------*/
.videoBanner {
  position: relative;
}

.videoBanner>video {
  height: 780px;
  width: 100%;
  object-fit: cover;
}

.videoBanner h2 {
  position: absolute;
  top: 330px;
  left: 740px;
}

.videoBanner a {
  position: absolute;
  top: 430px;
  left: 740px;
  display: block;
  border: 1px solid red;
  width: 310px;
  height: 70px;
  background: fff;
  opacity: 1;
  color: #fff;
}

/* --------main-news--------- */
.news {
  padding-bottom: 80px;
}

.news>ul {
  display: flex;
}

.news>ul>li {
  padding: 0 30px;
  border-right: 1px solid #999;
}

.news>ul>li:last-of-type {
  padding-right: 0;
  border-right: none;
}

.news>ul>li>h4 {
  font-weight: bold;
}

.news .date {
  font-size: 0.8rem;
  color: #888;
  padding-top: 10px;
  padding-bottom: 30px;
}

.news>h3 {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 30px 0;
}

/* -------main-culture------- */
.culture>ul {
  display: flex;
}

.culture>ul>li {
  position: relative;
}

.culture h4 {
  position: absolute;
  left: 40%;
  top: 70%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.culture p {
  position: absolute;
  left: 40%;
  top: 85%;
  color: white;
}

/* -------main-notice------ */
.notice {
  padding-top: 160px;
  padding-bottom: 200px;
}

.notice>ul {
  display: flex;
}

.notice li {
  margin-right: 25px;
}

.notice li:last-of-type {
  margin-right: 0px;
}

.notice p {
  font-size: 0.8rem;
  color: #888;
}

.notice h4 {
  font-weight: bold;
}

.notice img {
  width: 340px;
  height: 190px;
  object-fit: cover;
}

/*---------- footer--------- */
.footMenu1>ul {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}

.footMenu2>ul {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 80px;
}

.coInfo {
  display: flex;
  border-top: 1px solid #888;
  justify-content: flex-end;
  align-items: center;
}

.footLogo {
  display: flex;
}

.footLogo img {
  width: 130px;
  height: 20px;
  object-fit: contain;
}

.snsMenu {
  padding: 20px 0;
}

.snsMenu>ul {
  display: flex;
}

.snsMenu img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  padding: 0 5px;
}