/* --------common-------- */
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

.cw {
  width: 1440px;
  margin: 0 auto;
}

.blankStyle:after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 4px;
  background: url(../img/icn_header_new_win.svg) no-repeat 50% 50%;
}