/* 1.RESET */
* {
/* 2.COMMON STYLE */
@font-face {
  font-family: "풀무원 폰트";
  src: url("../font/PulmuoneLOHASBold.woff");
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  margin: 0 auto;
}

.img {
  width: 1920px;
  height: 252px;
  background: url("../img/sub_vis01_02.jpg") no-repeat 0 0;
  color: transparent;
}

/* 3.LAYOUT */
.con1 {
  width: 1200px;
  padding: 0 70px;
  margin: 50 auto;
}

.con1 h3 {
  background: url("../img/sub_tit_line.gif") repeat-x center;
  font-size: 30px;
  margin: 50px 0;
}

.con1 h1 {
  font-size: 52px;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}

.con2 {
  width: 810px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 90px 50px 90px;
  background-color: #F4F4F4;
}

.con2 .mar {
  margin-top: 30px;
}

/* DETAIL */

.con1 h1,
h2 {
  font-family: "풀무원 폰트"
}

.con2 h2 {
  font-size: 35px;
  margin-bottom: 25px;
}