* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

img {
  max-width: 100%;
  /* 부모만큼의 너비로 제한 */
}

body {
  background: linear-gradient(0deg, black, #333);
  color: #fff;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 0 20px;
}

.snsMenu {
  display: flex;
}

.snsMenu>li {
  margin: 0 14px;
  font-size: 24px;
  transition: transform 0.5s ease 0s, color 1s ease 0s;
}

.snsMenu>li:hover {
  transform: scale(1.1);
  color: pink;
}

/* .logo {
  line-height: -10%;
  box-shadow: 5px 5px 1px #fff;
} */

.stationMenu {
  display: flex;
  padding: 10px 30px;
  text-transform: capitalize;
}

.stationMenu>li {
  padding: 0 20px;
  opacity: 0.5;
  transition: all 0.5s ease 0s
}

.stationMenu>li:hover {
  opacity: 1;
  color: pink;
}

.station {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.train {
  width: 4600px;
  /* 리스트를 클릭했을 때 원래크기보다 600픽셀이 더 늘어날 것을 예상 */
  height: 400px;
  display: flex;
  transition: all 2s ease 0s;
}

.train>li {
  width: 180px;
  height: 400px;
  margin: 0 10px;
  position: relative;
  background: #fff;
  border-radius: 5px;
  color: #000;
  overflow: hidden;
  opacity: 0.7;
  transition: all 0.5s ease 0s;
}

.train>li:hover {
  opacity: 1;
}

.train>li.small {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.big {
  display: none;
}

/* list에 on클래스가 추가됬을 때의 스타일 */
.train>li.on {
  width: 780px;
  height: 500px;
  opacity: 1;
}

.train>li.on .small {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 손나라 씀 */
/* .big.on {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 780px;
} */

.train>li>.title {
  position: absolute;
  bottom: 60px;
  left: 0;
  background: rgba(0, 0, 0, 0.548);
  color: #fff;
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 20px;
  transition: all 0.5s ease 0s;
}

.train>li.on .title {
  font-size: 35px;
  padding: 20px 0 20px 20px;
  bottom: 350px;
}

.train>li>p {
  display: none;
}

.train>li.on p {
  display: block;
  position: absolute;
  background: #000;
  color: #fff;
  bottom: 118px;
  right: 15px;
  padding: 10px 20px;
}

.btnClose {
  display: none;
}

.train>li.on .btnClose {
  display: block;
  position: absolute;
  color: #fff;
  top: 76px;
  right: 15px;
  padding: 20px;
  cursor: pointer;
}