/* common */
@font-face {
  font-family: 'S-CoreDream5';
  src: url("../font/SCDream5.otf") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream8';
  src: url("../font/SCDream8.otf") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '나눔손글씨 혜준체';
  src: url("../font/나눔손글씨\ 혜준체.ttf") format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'S-CoreDream5';
  font-size: 16px;
}

.total {
  width: 1910px;
  height: 970px;
  margin: 0 auto;
}

/* layout */
header img {
  width: 200px;
  object-fit: cover;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 1s ease 0s;
}

header:hover {
  background: rgba(255, 255, 255, 0.774);
  height: 500px;
}

header nav {
  width: 1440px;
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
}

.headLeft {
  width: 850px;
  display: flex;
  flex: 1;
}

.gnb {
  width: 100%;
  display: flex;
  position: relative;
}

.gnb>li {
  display: flex;
  width: 100%;
}

.gnb>li>a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.gnb>li>ul {
  border: 1px solid red;
  display: flex;
  position: absolute;
  top: 90px;
  left: 80px;
  width: 800px;
}

.gnb>li>ul>li {
  width: 100%;
}

.gnb>li>ul>li>ul>li {
  border: 1px solid blue;
  padding: 5px;
  color: rgb(79, 79, 79);
}

.gnb>li>ul>li>ul>li>ul>li {
  border: 1px solid yellow;
  padding: 5px;

}

/* menu animation */
.gnb .cliStory ul {
  opacity: 0;
  transition: all 1s ease 0s;
}

.gnb .cliStory:hover ul {
  opacity: 1;
}

.gnb .skinCare ul {
  opacity: 0;
  transition: all 1s ease 0s;
}

.gnb .skinCare:hover ul {
  opacity: 1;
}

.gnb .makeUp ul {
  opacity: 0;
  transition: all 1s ease 0s;
}

.gnb .makeUp:hover ul {
  opacity: 1;
}

.gnb .speEvent ul {
  opacity: 0;
  transition: all 1s ease 0s;
}

.gnb .speEvent:hover ul {
  opacity: 1;
}

/* menu animation end */

.headRight {
  border: 1px solid blue;
}

.headRight>ul {
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
}

/* layout - main */
.videoBanner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* layout - main - evenbetter */
.evenBetter {
  border: 1px solid red;
  position: relative;
}

.evenBetter:after {
  content: "";
  background: #eee;
  position: absolute;
  bottom: 0;
  left: 16%;
  width: 300px;
  height: 400px;
}

.evenBetter h1 {
  font-size: 10rem;
  text-align: end;
  font-family: 'S-CoreDream8';
  margin-right: 20px;
}

.evenBetter .evenModel img {
  height: 850px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  float: right;
}

.evenBetter .evenTexture img {
  position: absolute;
  bottom: -8%;
  left: 29%;
  width: 300px;
  object-fit: cover;
  transform: rotate(-110deg);
  z-index: 1;
}

.evenBetter .evenProduct img {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 800px;
  object-fit: cover;
  z-index: 1;
}

.evenBetter .evenText {
  border: 1px solid red;
  position: absolute;
  top: 40%;
  left: 35%;
  color: #333;
}

.evenProduct .evenText h4 {
  font-size: 25px;
  line-height: 160%;
  padding-bottom: 10%;
}

.evenProduct .evenText>p {
  line-height: 170%;
  padding-bottom: 100px;
  font-size: 18px;
}

.barText>p {
  font-size: 18px;
}


/* layout - main - surge */
.surge {
  border: 1px solid blue;
  position: relative;
}

.surge>h1 {
  font-size: 12rem;
  font-family: 'S-CoreDream8';
  position: absolute;
  top: -30px;
  left: 20px;
  z-index: 2;
}

.surgeModel img {
  position: absolute;
  top: 250px;
  right: 350px;
  width: 375px;
  z-index: 5;
}

.surgeProduct img {
  position: absolute;
  bottom: 95px;
  left: 370px;
  width: 570px;
}

.surgeTexture img {
  position: absolute;
  left: 890px;
  top: 60px;
  width: 400px;
  transform: rotate(-70deg)
}

.surgeText {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* layout - main - bestNow */
.bestNow {
  border: 1px solid blue;
}

.bestItem {
  display: flex;
}

.bestText {
  font-size: 5rem;
  padding-left: 550px;
  padding-top: 50px;
  line-height: 90px;
}

.bestText h4 {
  font-family: 'S-CoreDream8';
}

/* layout - main - reality */
.reality {
  border: 1px solid blue;
  position: relative;
}

.realLogo {
  padding-top: 100px;
  padding-left: 400px;
}

.realPro {
  padding-top: 70px;
  padding-left: 300px;
}

.realQr {
  position: absolute;
  top: 50%;
  right: 30%;
}

/* layout - main - review */
.review {
  border: 1px solid blue;
  display: flex;
  position: relative;
}

.reviewText {
  transform: translate(370px, 190px);
}

.reviewText>p>span {
  color: #7041E5;
}

.reviewText>h4 {
  font-size: 5.9rem;
  color: #7041E5;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 95%;
}

.reviewText>h4:nth-of-type(2) {
  transform: translateX(100px);
}

.reviewText>p {
  line-height: 150%;
  padding: 70px 0;
}

.reviewSale>img {
  position: absolute;
  top: 20%;
  left: 45%;
}

.reviewImg>.reviewPhone>img {
  transform: translate(400px, 100px);
}

/* layout - main - benefit */
.benefit {
  border: 1px solid blue;
}

.profit>h1 {
  font-size: 2rem;
  padding-left: 370px;
  margin: 30px 0;
}

.profit>ul {
  display: flex;
  justify-content: center;
}

.profit>ul>li {
  margin-right: 20px;
  position: relative;
}

.profit>ul>li:last-of-type {
  margin-right: 0;
}

.profit>ul>li>p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: '나눔손글씨 혜준체';
  font-size: 2.5rem;
}

.newsletter {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

/* footer */
footer {
  border: 1px solid blue;
  background: #eee;
  transform: translateY(400px);
}

.footContainer {
  width: 1200px;
  margin: 0 auto;
}

.footTop {
  display: flex;
  justify-content: space-between;
}

.foot2>ul {
  border: 1px solid red;
  display: flex;
  width: 530px;
  justify-content: space-between;
}

.foot2>ul>li>img {
  width: 50px;
}