/* common */
@font-face {
  font-family: 'S-CoreDream5';
  src: url("../font/SCDream5.otf") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream8';
  src: url("../font/SCDream8.otf") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Meramoon';
  src: url("../font/Meramoon demo.otf") format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'S-CoreDream5';
  font-size: 16px;
}

main>div {
  height: 100vh;
}

.contents {
  width: 1200px;
  margin: 0 auto;
}

.arrowBtn {
  background: url(../img/under_bar.png) no-repeat 0 13px;
  background-size: 70%;
  width: 300px;
  height: 50px;
}

/* layout */
/* --------header--------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  transition: all 0.5s ease 0s;
  z-index: 1000;
  padding-top: 10px;
  background: #fff;
  background: linear-gradient(0deg, transparent, #fff);
}

header:hover {
  height: 500px;
  background: #fff;
}

/* 메인로고 크기조절 */
.mainLogo {
  width: 150px;
}

.mainLogo>img {
  width: 100%;
  object-fit: cover;
}

/* 전체메뉴 조정 */
nav {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

/* 1뎁스 조정 */
nav>.gnb {
  display: flex;
  justify-content: space-between;
}

.gnb {
  width: 800px;
  height: 50px;
  position: relative;
}

.gnb>li {
  width: calc(100%/4 - 10px);
  border: 1px solid red;
}

.gnb>li>a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 2뎁스 조정 */
.gnb>li>ul {
  position: absolute;
  top: 110px;
  left: 1px;
  display: flex;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.gnb>li:hover ul {
  opacity: 1;
}

.gnb>li>ul>li {
  width: calc(100%/4 - 20px);
  margin-right: 20px;
  border: 1px solid blue;
}

.gnb>li>ul>li:last-of-type {
  margin-right: 0;
}

.gnb>li>div>p {
  position: absolute;
  top: 70px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.gnb>li:hover div>p {
  opacity: 1;
}

/* 3뎁스 */
.gnb>li>ul>li>ul>li {
  border: 1px solid red;
  margin: 5px 0;
}

/* 4뎁스 */
.gnb>li>ul>li>ul>li>ul>li {
  border: 1px solid green;
  margin: 5px 0;
}

/* 메뉴 오른쪽 조정 */
.lnb {
  border: 1px solid blue;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lnb>li>a {
  border: 1px solid red;
  display: block;
  width: 20px;
  height: 20px;
}

.lnb>li>a>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --------layout - main --------*/
.videoBanner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.videoBanner h1 {
  border: 1px solid red;
  width: 1200px;
  font-size: 8em;
  font-family: 'Meramoon';
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100000;
  color: #fff;
}

/* --------layout - main - evenbetter-------- */
.evenBetter {
  position: relative;
}

.ebTitle>h1 {
  font-family: 'Meramoon';
  font-size: 7em;
  text-align: end;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000000;
}

.evenProduct>img {
  width: 18%;
  position: absolute;
  bottom: 10%;
  left: 3%;
  z-index: 1000;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.evenProduct>img:hover {
  transform: scale(1.1);
}

.evenProduct:after {
  content: "";
  background: #eee;
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 300px;
  height: 200px;
}

.evenText {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 1.5em;
  line-height: 150%;
}

.evenText>h4:first-of-type {
  height: 21px;
  display: inline-block;
  border-bottom: 15px solid #FED6FA;
}

.evenText>h4:last-of-type {
  margin-bottom: 30px;
}

.evenText>p {
  font-size: 1.1rem;
  height: 20px;
}

.evenText>p:last-of-type {
  display: inline-block;
  border-bottom: 10px solid #FED6FA;
  margin-top: 10px;
  margin-bottom: 50px;
}

.evenText>a {
  display: block;
}

.evenTexture>img {
  position: absolute;
  bottom: 10%;
  left: 19%;
  width: 17%;
  object-fit: cover;
  z-index: 1000;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.evenTexture>img:hover {
  transform: scale(1.1);
}

.evenModel>img {
  width: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.evenModel>img:hover {
  transform: scale(1.1);
}

/* layout - main - surge */
.surge {
  position: relative;
  border: 1px solid red;
}

.surge>h1 {
  font-size: 7rem;
  font-family: 'Meramoon';
}

.surgeModel img {
  width: 375px;
  position: absolute;
  top: 0;
  right: 0;
}

.surgeModel:after {
  content: "";
  border: 1px solid #ffa885de;
  width: 385px;
  height: 436px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.surgeProduct img {
  width: 570px;
  transform: translateY(10%);
}

.surgeProduct:after {
  content: "";
  border: 1px solid #FFA785;
  width: 570px;
  height: 540px;
  position: absolute;
  top: 0;
  left: 0;
}

.surgeTexture img {
  width: 400px;
  transform: rotate(-70deg);
  position: absolute;
  top: 0;
  left: 45%;
}

.surgeText {
  position: absolute;
  bottom: 0;
  right: 60px;
  line-height: 170%;
}

.surgeText>p:last-of-type {
  margin-top: 30px;
}

/* layout - main - bestNow */
.bestNow {
  overflow: hidden;
}

.bestItem {
  display: flex;
  transform: translateX(-120px);
}

.bestItem li h5 {
  width: 400px;
}

.bestItem>li>img {
  border-bottom: 1px solid #FAD5C9;
  width: 400px;
  height: 500px;
  margin-right: 50px;
  object-fit: cover;
}

.bestText {
  font-size: 5em;
  margin-top: 150px;
  margin-left: 350px;
  line-height: 110%;
  position: relative;
}

.bestText:after {
  content: "";
  border-bottom: 3px solid #FAD5C9;
  border-left: 3px solid #FAD5C9;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 35px;
  left: -10px;
}

.bestText h4 {
  font-family: 'S-CoreDream8';
}

/* layout - main - reality */
.reality {
  position: relative;
}

.realLogo {
  padding-top: 100px;
}

.realPro {
  padding-top: 70px;
}

.realQr {
  position: absolute;
  top: 27%;
  right: calc((100% - 1200px)/2);
  text-align: center;
  z-index: 1000000;
}

.realQrText>h2 {
  font-size: 41px;
  padding-bottom: 8px;
}

.realQrText>h3 {
  font-size: 35px;
  height: 20px;
  border-bottom: 20px solid #D9FBFF;
}

.realQr>h4 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.realQrText>p {
  font-size: 23px;
  padding: 30px 0;
  line-height: 150%;
}

/* layout - main - review */
.review {
  position: relative;
  display: flex;
  margin-top: 150px;
}

.reviewText>p>span {
  color: #7041E5;
}

.reviewText {
  padding-top: 30px;
}

.reviewText>h4 {
  font-size: 5.9rem;
  color: #7041E5;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 95%;
}

.reviewText>h4:nth-of-type(2) {
  padding: 0 120px;
}

.reviewText>p,
span {
  line-height: 170%;
  padding: 70px 0;
  font-size: 1.1rem;
}

.reviewSale>img {
  position: absolute;
  top: 13%;
  left: 47%;
}

.reviewButton>p {
  font-size: 1.1rem;
}

/* layout - main - benefit */
.benefit {
  position: relative;
}

.benefit:after {
  content: "";
  background: rgb(187, 187, 187);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 51px;
  left: 0;
}

.profit>h1 {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 70px;
}

.profit>ul {
  display: flex;
  justify-content: center;
}

.profit>ul>li {
  margin-right: 20px;
  position: relative;
  transform: translateY(0);
  transition: all 0.5s ease 0s;
}

.profit>ul>li:hover {
  transform: translateY(-20px);
}

.profit>ul>li:last-of-type {
  margin-right: 0;
}

.profit>ul>li>p {
  width: 100%;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: serif;
  font-size: 3rem;
  line-height: 100%;
}

.newsletter {
  position: relative;
}

.newsletter img {
  transform: translateX(17px);
  margin: 100px 0;
}

.newsText {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsText>h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.newsText>a>h2 {
  font-size: 1.5rem;
  margin: 30px 0;
  padding: 7px 30px;
  color: white;
  background: black;
}

.newsText>label {
  font-size: 0.9rem;
}

/* -------BRAND STORY-------- */
/* -------BRAND STORY-------- */
/* -------BRAND STORY-------- */
/* -------BRAND STORY-------- */
/* -------BRAND STORY-------- */
/* common */
.brandStory p {
  font-size: 25px;
  line-height: 170%;
}

/* 1page */
.brand-story {
  background: #E8E8E8;
  display: flex;
}

.brand-story>div {
  margin-top: 150px;
  padding-left: 50px;
}

.brand-story h1,
h2,
h3 {
  line-height: 100%;
}

.brand-story h1 {
  font-size: 10rem;
  font-family: 'S-CoreDream5';
  font-weight: bold;
  letter-spacing: 5px;
}

.brand-story h2 {
  font-size: 8rem;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.brand-story h3 {
  font-size: 6rem;
  font-weight: bold;
}

.brand-story>div>p {
  margin: 40px 0;
}

/* 2page */
.brand-story2 {
  padding-top: 200px;
}

.brand-story2 {
  text-align: center;
}

.brand-story2>img {
  width: 400px;
}

.brand-story2>p {
  margin-bottom: 60px;
  line-height: 160%;
}

/* 3page */
.brand-story3 {
  position:relative;
}

.bs_aloe{position:absolute;
top:-20%; right:0;
width:450px;
}

.bs_aloe2{position:absolute;
  bottom:10%; left:0;
width:400px;}

.brand-story3>div{position:absolute;
top:5%;
left:30%;}

.brand-story3>div>h1 {
  font-size: 6rem;
  line-height: 110%;
}

.brand-story3>div>ul {
  display: flex;
  padding-top: 50px;
}

.brand-story3>div>ul>li {
  margin: 0 30px;
  font-size: 30px;
}

.brand-story3>div>ul>li:first-of-type {
  margin-left: 0;
}

.brand-story3>div>p {
  padding: 50px 0;
  line-height: 150%;
}

/* 4page */
.brand-story4 {
  position:relative;
}

.brand-story4>div{position:absolute;
  top:20%;
  left:30%;}

.brand-story4>div>h1 {
  font-size: 5rem;
}

.brand-story4>div>p {
  line-height: 150%;
  margin: 50px 0;
}

/* 5page */
.brand-story5>h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.brand-story5 h4{font-size:20px;padding:10px 0;}
.brand-story5 p{font-size:16px;
margin-top:10px;}

.brand-story5>ul {
  display: flex;
}

.brand-story5>ul>li {
  width: 230px;
  height: 600px;
  margin-right:10px;
  border:1px solid blue;
  position:relative;
}

.brand-story5>ul>li:last-of-type{margin-right:0;}

.brand-story5>ul>li>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bs_text{border:1px solid red;
position:absolute;
top:0;
left:50%;
transform:translateX(-50%);
width:100%;
text-align:center;}

.brand-story5>ul>li>a{
position:absolute;
left:50%;
transform:translateX(-50%);
bottom:0;
display:block;
padding:5px 20px;
margin-bottom:10px;
background:black;
color:white;}

/* MOISTURE SURGE */
/* MOISTURE SURGE */
/* MOISTURE SURGE */
/* MOISTURE SURGE */
/* MOISTURE SURGE */
.moisture_surge1{
  position:relative;
}

.moisture_surge1>.sg_aloe{position:absolute;
top:0;left:0;
width:400px;}

.moisture_surge1>.sg_cica
{position:absolute;
  top:0;right:0;
  width:400px;}

.moisture_surge1>.sg_tt
{position:absolute;
  bottom:5%;right:23%;
  width:270px;}

.moisture_surge1>.ms_text{
  position:absolute;
  top:50%;
  left:20%;
  transform:translateY(-50%);
}

.moisture_surge1>.ms_text>h2{font-size:6em;}

.moisture_surge1>.ms_text>p{font-size:1.1em;
line-height:150%;
margin-top:15px;
margin-left:5px;}

.moisture_surge2>h1{
    font-size:6em;
    text-align:right;
}

.moisture_surge2>p{
    margin-left:300px;
    margin-top:50px;
}

.moisture_surge2>.ms_slider{
    margin-left:300px;
}

/* footer */
footer {
  background: #eee;
  transform: translateY(400px);
  position: relative;
}

footer>div {
  width: 1200px;
  margin: 0 auto;
}

footer>div:first-child:after {
  content: "";
  position: absolute;
  top: 48%;
  left: 17%;
  width: 82%;
  height: 1px;
  background: #9a9a9a;
}

.footTop {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.foot1>ul {
  display: flex;
  width: 500px;
  height: 150px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.foot1>ul>li {
  width: 250px;
}

.foot2 {
  position: relative;
}

.foot2>ul {
  display: flex;
  width: 400px;
  justify-content: space-between;
  transform: translateX(-130px);
}

.foot2>ul>li>img {
  width: 50px;
}

.foot2>.assuar>img {
  position: absolute;
  top: -5px;
  right: 0;
}

.footlow {
  padding-bottom: 50px;
  line-height: 170%;
}

.underLine {
  text-decoration: underline;
}

.footlow2 {
  display: flex;
  width: 1200px;
  height: 50px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footlow2>p {
  width: 400px;
}

