/* common */
@font-face {
  font-family: 'S-CoreDream';
  src: url("../font/SCDream8.otf") format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'S-CoreDream'
}

.total {
  width: 1910px;
  height: 960px;
}

/* layout */
header img {
  width: 200px;
  object-fit: cover;
}

header {
  background: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  width: 1440px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition: all 0.5s ease 0s;
}

header:hover {
  height: 400px;
  width: 1440px;
  background: rgba(255, 255, 255, 0.72);
}

.headLeft {
  display: flex;
}

.gnb>ul {
  display: flex;
  justify-content: space-between;
}

.gnb>ul>li {
  border: 1px solid blue;
  width: 25%;
}

.gnb>ul>li:first-line {
  background: yellow;
  font-weight: bold;
}

.gnb>ul>li>ul {
  display: flex;
}

.gnb>ul>li>ul>li {
  margin-top: 50px;
  border: 1px solid green;
}

/* layout - main */
.videoBanner video {
  width: 100%;
  object-fit: cover;
}

/* layout - main - evenbetter */

.evenBetter {
  border: 1px solid red;
  position: relative;
}

.evenBetter>h1 {
  font-size: 10rem;
  text-align: end;
}

.evenTexture img {
  position: absolute;
  bottom: 5%;
  left: 27%;
  width: 200px;
  object-fit: cover;
  transform: rotate(-110deg);
}

.evenModel img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 800px;
  object-fit: cover;
}

.evenProduct img {
  position: absolute;
  bottom: 10px;
  left: 20%;
  height: 700px;
  object-fit: cover;
}

/* layout - main - surge */
.surge {
  border: 1px solid blue;
  position: relative;
}

.surge>h1 {
  font-size: 10rem;
}

.surgeModel {
  position: absolute;
  top: 0;
  right: 0;
}

.surgeProduct {
  position: absolute;
  bottom: 0;
  left: 10%;
}

.surgeTexture {
  position: absolute;
  left: 30%;
  top: 10%;
}