@media (min-width:1024px) {

  /* common */
  @font-face {
    font-family: 'S-CoreDream5';
    src: url("../font/SCDream5.otf") format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'S-CoreDream7';
    src: url("../font/SCDream7.otf") format('woff');
    font-weight: normal;
    font-style: normal;
  }

  /* 편집디자인 글씨체 */
  @font-face {
    font-family: 'Meramoon';
    src: url("../font/Meramoon demo.otf") format('woff');
    font-weight: normal;
    font-style: normal;
  }

  /* 쿠폰 글씨체 */
  @font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  /* 애니메이션 */
  @keyframes mrtlWord1 {
    0% {
      transform: translateX(100%)
    }

    100% {
      transform: translateX(-100%)
    }
  }

  @keyframes mrtlWord2 {
    0% {
      transform: translateX(0%)
    }

    100% {
      transform: translateX(-200%)
    }
  }

  @keyframes mltrWord1 {
    0% {
      transform: translateX(-100%)
    }

    100% {
      transform: translateX(100%)
    }
  }

  @keyframes mltrWord2 {
    0% {
      transform: translateX(-200%)
    }

    100% {
      transform: translateX(0%)
    }
  }

  html,
  body {
    font-family: 'S-CoreDream5';
    font-size: 16px;
  }

  main>div {
    width: 100%;
    height: 100vh;
  }

  .contents {
    width: 1200px;
    margin: 0 auto;
  }

  .arrowBtn {
    background: url(../img/under_bar.png) no-repeat 0 13px;
    background-size: 70%;
    width: 300px;
    height: 50px;
  }

  .mrtl {
    transform: translateX(50px);
    opacity: 0.1;
    transition: all 1s ease 0s;
  }

  .mrtl.on {
    transform: translateX(0);
    opacity: 1;
  }

  .mltr {
    transform: translateX(-50px);
    opacity: 0.1;
    transition: all 1s ease 0s;
  }

  .mltr.on {
    transform: translateX(0);
    opacity: 1;
  }

  .mttb {
    transform: translateY(-50px);
    opacity: 0.1;
    transition: all 1s ease 0s;
  }

  .mttb.on {
    transform: translateY(0);
    opacity: 1;
  }

  .mbtt {
    transform: translateY(50px);
    opacity: 0.1;
    transition: all 1s ease 0s;
  }

  .mbtt.on {
    transform: translateY(0);
    opacity: 1;
  }

  /* layout */
  /* --------header--------- */
  .btnTop {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    box-shadow: 1px 1px 10px #4D4D4D;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 3;
  }

  .btnTop>img {
    width: 100%;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 2;
    padding-top: 10px;
    transition: all 0.5s ease 0s;
  }

  header:hover {
    height: 500px;
    background: #fff;
    border-bottom: 1px solid #999;
  }

  header.sma {
    height: 50px;
    background: #fff;
  }

  header.sma:hover {
    height: 500px;
    background: #fff;
  }

  /* 메인로고 크기조절 */
  .mobileLogo {
    display: none;
  }

  .mainLogo {
    width: 150px;
  }

  .mainLogo>img {
    width: 100%;
    object-fit: cover;
  }

  /* 전체메뉴 조정 */
  nav {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }

  /* 1뎁스 조정 */
  nav>.gnb {
    display: flex;
    justify-content: space-between;
  }

  .gnb {
    width: 800px;
    height: 50px;
    position: relative;
  }

  .gnb>li {
    width: calc(100%/4 - 10px);
  }

  .gnb>li>a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  /* 2뎁스 조정 */
  .gnb>li>.gnb2dep {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease 0s;
    padding-top: 30px;
    display: none;
  }

  .gnb>li:hover .gnb2dep {
    display: block;
  }

  .gnb>li>.gnb2dep>ul {
    display: flex;
  }

  .gnb>li>.gnb2dep>ul>li {
    width: calc(100%/4 - 20px);
    margin-right: 20px;
  }

  .gnb>li>.gnb2dep>ul>li:last-of-type {
    margin-right: 0;
  }

  /* 3뎁스 */
  .gnb2dep>ul>li {
    margin: 5px 0;
  }

  .gnb2dep>ul>li>a {
    display: block;
    border-bottom: 1px solid #eee;
    transition: all 0.5s ease 0s;
  }

  .gnb2dep>ul>li>a:hover {
    border-bottom: 1px solid #4d4d4d;
  }

  /* 4뎁스 */
  .gnb2dep>ul>li>ul>li {
    color: rgb(87, 87, 87);
    margin: 5px 0;
  }

  .manCare>ul>li>a {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
    display: block;
    color: black;
    transition: all 0.5s ease 0s;
  }

  .manCare>ul>li>a:hover {
    border-bottom: 1px solid #4d4d4d;
  }

  /* 5뎁스 */
  .gnb2dep>ul>li>ul>li>ul>li {
    text-indent: 5px;
    margin: 5px 0;
  }

  /* 메뉴 오른쪽 조정 */
  .lnb {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lnb>li>a {
    display: block;
    width: 20px;
    height: 20px;
  }

  .lnb>li>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* --------layout - main --------*/
  .videoBanner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .videoBanner h1 {
    width: 1200px;
    font-size: 8em;
    font-family: 'Meramoon';
    font-weight: lighter;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
  }

  /* --------layout - main - evenbetter-------- */
  .evenBetter {
    overflow: hidden;
    position: relative;
  }

  .evenBetter>.textWrap {
    width: 100%;
    overflow: hidden;
  }

  .evenBetter>.textWrap>ul {
    display: flex;
    width: 200%;
    overflow: hidden;
  }

  .evenBetter>.textWrap>ul>li {
    font-family: 'Meramoon';
    font-size: 170px;
    white-space: nowrap;
    margin-top: 15px;
    width: 50%;
    overflow: hidden;
  }

  .evenBetter>.textWrap>ul>.a {
    animation: mrtlWord1 10s linear 0s infinite;
  }

  .evenBetter>.textWrap>ul>.b {
    animation: mrtlWord2 10s linear 5s infinite;
    color: rgb(254 214 250);
  }

  .evenProduct {
    position: relative;
    height: 75%;
  }

  .evenProduct>img {
    width: 18%;
    position: absolute;
    bottom: 3%;
    left: 3%;
    z-index: 1;
    transform: scale(1);
    transition: all 0.5s ease 0s;
  }

  .evenProduct>img:hover {
    transform: scale(1.1);
  }

  .evenProduct:after {
    content: "";
    background: #eee;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 200px;
  }

  .evenText {
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 1.5em;
    line-height: 150%;
  }

  .evenText>h4:first-of-type {
    height: 21px;
    display: inline-block;
    border-bottom: 15px solid #FED6FA;
  }

  .evenText>h4:last-of-type {
    margin-bottom: 30px;
  }

  .evenText>p {
    font-size: 1.1rem;
    height: 20px;
  }

  .evenText>p:last-of-type {
    display: inline-block;
    border-bottom: 10px solid #FED6FA;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .evenText>a {
    display: block;
  }

  .evenTexture>img {
    position: absolute;
    bottom: 7%;
    left: 30%;
    width: 13%;
    object-fit: cover;
    z-index: 1;
    transform: scale(1);
    transition: all 0.5s ease 0s;
  }

  .evenTexture>img:hover {
    transform: scale(1.1);
  }

  .evenModel>img {
    width: 600px;
    position: absolute;
    bottom: 5%;
    right: 15%;
    transform: scale(1);
    transition: all 0.5s ease 0s;
  }

  .evenModel>img:hover {
    transform: scale(1.1);
  }

  /* layout - main - surge */
  .surge {
    position: relative;
    overflow: hidden;
  }

  .surge>.textWrap {
    width: 100%;
    overflow: hidden;
  }

  .surge>.textWrap>ul {
    display: flex;
    width: 200%;
    overflow: hidden;
  }

  .surge>.textWrap>ul>li {
    font-family: 'Meramoon';
    font-size: 170px;
    white-space: nowrap;
    Padding-top: 20px;
    width: 50%;
    overflow: hidden;
  }

  .surge>.textWrap>ul>.a {
    animation: mltrWord1 10s linear 0s infinite;
  }

  .surge>.textWrap>ul>.b {
    animation: mltrWord2 10s linear 5s infinite;
    color: rgb(244 211 195);
  }

  .surgeModel img {
    width: 375px;
    position: absolute;
    top: 26%;
    right: 18%;
  }

  .surgeModel:after {
    content: "";
    border: 1px solid #ffa885de;
    width: 375px;
    height: 428px;
    position: absolute;
    top: 24%;
    right: 19%;
  }

  .surgeProduct img {
    width: 570px;
    transform: translate(62%, 10%);
  }

  .surgeProduct:after {
    content: "";
    border: 1px solid #FFA785;
    width: 570px;
    height: 414px;
    position: absolute;
    top: 30%;
    left: 18%;
  }

  .surgeTexture img {
    width: 350px;
    transform: rotate(-70deg);
    position: absolute;
    top: 19%;
    left: 49%;
  }

  .surgeText {
    position: absolute;
    bottom: 12%;
    right: 21%;
    line-height: 170%;
    z-index: 1;
  }

  .surgeText>p:last-of-type {
    margin-top: 30px;
  }

  .surge:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 21%;
    right: 45%;
    border-top: 3px solid #FFA785;
    border-left: 3px solid #FFA785;
  }

  /* layout - main - bestNow */
  .bestNow {
    overflow: hidden;
  }

  .bestItem {
    display: flex;
    /* transform: translateX(-120px); */
  }

  .bestItem li h5 {
    width: 100%;
  }

  .bestItem>li {
    transition: all 0.5s ease 0s;
    word-break: keep-all;
  }

  .bestItem>li.inActive {
    opacity: 0.5;
    transform: scale(80%) translateY(-5%);
  }

  .bestItem>li>img {
    border-bottom: 1px solid #FAD5C9;
    width: 100%;
    height: 440px;
    object-fit: contain;
  }

  .bestText {
    font-size: 5em;
    margin-top: 150px;
    margin-left: 350px;
    line-height: 110%;
    position: relative;
  }

  .bestText:after {
    content: "";
    border-bottom: 3px solid #FAD5C9;
    border-left: 3px solid #FAD5C9;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35px;
    left: -10px;
  }

  .bestText h4 {
    font-family: 'S-CoreDream7';
  }

  main .swiper-button-prev:after {
    color: #999;
    transform: translateX(50%);
  }

  main .swiper-button-next:after {
    color: #999;
  }

  /* layout - main - reality */
  .reality {
    position: relative;
  }

  .reality>h1 {
    padding-top: 100px;
    font-size: 40px;
    font-family: 'S-CoreDream7';
  }

  .realPro {
    padding-top: 70px;
  }

  .realQr {
    position: absolute;
    top: 27%;
    right: calc((100% - 1200px)/2);
    text-align: center;
  }

  .realQrText>h2 {
    font-size: 35px;
    padding-bottom: 20px;
  }

  .realQrText>h3 {
    font-size: 30px;
    height: 20px;
    border-bottom: 18px solid #D9FBFF;
  }

  .realQr>h4 {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .realQrText>p {
    font-size: 23px;
    padding: 30px 0;
    line-height: 150%;
  }

  /* layout - main - review */
  .review {
    position: relative;
    display: flex;
    padding-top: 200px;
  }

  .reviewText>div {
    padding-top: 30px;
  }

  .reviewText>div>h4 {
    font-size: 5.9rem;
    color: #7041E5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 95%;
  }

  .reviewText>div p {
    line-height: 170%;
    font-size: 1.1rem;
  }

  .reviewText>div span {
    line-height: 170%;
    font-size: 1.1rem;
  }

  .reviewText>div>h4:nth-of-type(2) {
    padding: 0 120px;
    padding-bottom: 70px;
  }

  .reviewText>div>p span {
    color: #7041E5;
  }

  .reviewSale>img {
    position: absolute;
    top: 21%;
    left: 49%;
  }

  .reviewBtn {
    margin-top: 70px;
  }

  /* layout - main - benefit */
  .benefit {
    position: relative;
    height: 1350px;
  }

  .benefit:after {
    content: "";
    background: rgb(187, 187, 187);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 11%;
    left: 0;
  }

  .profit {
    padding-top: 100px;
  }

  .profit>h1 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: 'S-CoreDream7';
  }

  .profit>ul {
    display: flex;
    justify-content: center;
  }

  .profit>ul>li {
    margin-right: 20px;
    position: relative;
    transform: translateY(0);
    transition: all 0.5s ease 0s;
  }

  .profit>ul>li:hover {
    transform: translateY(-20px);
  }

  .profit>ul>li:last-of-type {
    margin-right: 0;
  }

  .profit>ul>li>p {
    width: 100%;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.4rem;
    line-height: 150%;
    font-family: 'GowunBatang-Regular';
    text-decoration: none;
    transition: all 0.5s ease 0s;
  }

  .profit>ul>li:hover p {
    text-decoration: underline 1px solid grey;
  }

  .newsletter {
    position: relative;
  }

  .newsletter img {
    transform: translateX(17px);
    margin: 100px 0;
  }

  .newsText {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newsText>h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .newsText>a>h2 {
    font-size: 1.5rem;
    margin: 30px 0;
    padding: 7px 30px;
    color: white;
    background: black;
  }

  .newsText>a>h2:hover {
    color: #71fdff;
  }

  .newsText>div {
    display: block;
    width: 100%;
  }

  .newsText>div>label {
    font-size: 0.9rem;
  }

  input#check_btn {
    display: none;
  }

  input#check_btn+label {
    cursor: pointer;
  }

  input#check_btn+label>span {
    vertical-align: middle;
    padding-left: 5px;
  }

  /* label:before에 체크하기 전 상태 CSS */
  input#check_btn+label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid black;
    vertical-align: middle;
  }

  /* label:before에 체크 된 상태 CSS */
  input#check_btn:checked+label:before {
    content: "";
    /* background: #fff;
  border-color: #fff; */
    background: url('../img/check.png') no-repeat 0 0;
    /* background-position: 50%; */
  }

  input#check_btn:checked+label>span {
    color: #0c5e5f;
  }




  /* -------BRAND STORY-------- */
  /* -------BRAND STORY-------- */
  /* -------BRAND STORY-------- */
  /* -------BRAND STORY-------- */
  /* -------BRAND STORY-------- */
  /* 1page */
  .bs_total p {
    font-size: 20px;
  }

  .brand-story {
    background: #E8E8E8;
    display: flex;
  }

  .brand-story>div {
    margin-top: 150px;
    padding-left: 50px;
  }

  .brand-story h1,
  h2,
  h3 {
    line-height: 100%;
  }

  .brand-story h1 {
    font-size: 10rem;
    font-family: 'S-CoreDream5';
    font-weight: bold;
    letter-spacing: 5px;
  }

  .brand-story h2 {
    font-size: 8rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  .brand-story h3 {
    font-size: 6rem;
    font-weight: bold;
    padding-bottom: 30px;
  }

  .brand-story>div>p {
    margin: 40px 0;
    line-height: 180%;
    font-size: 24px;
  }

  /* 2page */
  .brand-story2,
  .brand-story3,
  .brand-story4,
  .brand-story5 {
    height: 1000px;
  }

  .brand-story2>div {
    text-align: center;
    padding-top: 150px;
  }

  .bs_aloe {
    position: absolute;
    top: -156px;
    right: -14%;
    width: 450px;
  }

  .bs_aloe2 {
    position: absolute;
    bottom: 23%;
    left: -10%;
    width: 400px;
  }

  .brand-story2>div>img {
    width: 400px;
  }

  .brand-story2>div>p {
    margin-bottom: 60px;
    line-height: 160%;
  }

  /* 3page */
  .brand-story3 {
    position: relative;
  }

  .bs_water {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
  }

  .bs_water2 {
    position: absolute;
    bottom: 6%;
    left: -17%;
    width: 400px;
  }

  .brand-story3>div {
    position: absolute;
    top: 10%;
    left: 30%;
    padding-top: 100px;
  }

  .brand-story3>div>h1 {
    font-size: 5rem;
    line-height: 110%;
  }

  .brand-story3>div>ul {
    display: flex;
    padding-top: 50px;
  }

  .brand-story3>div>ul>li {
    margin: 0 30px;
    font-size: 25px;
  }

  .brand-story3>div>ul>li:first-of-type {
    margin-left: 0;
  }

  .brand-story3>div>p {
    padding: 50px 0;
    line-height: 150%;
  }

  /* 4page */
  .brand-story4 {
    position: relative;
  }

  .brand-story4>div {
    position: absolute;
    top: 29%;
    left: 15%;
  }

  .brand-story4>div>h1 {
    font-size: 5rem;
  }

  .brand-story4>div>p {
    line-height: 150%;
    margin: 50px 0;
  }

  /* 5page */
  .brand-story5>h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 100px;
  }

  .brand-story5 h4 {
    font-size: 20px;
    padding: 10px 0;
  }

  .brand-story5 p {
    font-size: 16px;
    margin-top: 10px;
  }

  .brand-story5>ul {
    display: flex;
  }

  .brand-story5>ul>li {
    width: 230px;
    height: 600px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
  }

  .brand-story5>ul>li:last-of-type {
    margin-right: 0;
  }

  .brand-story5>ul>li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease 0s;
  }

  .brand-story5>ul>li:hover img {
    transform: scale(1.1);
  }

  .brand-story5>ul>li:hover h4 {
    text-decoration: underline;
  }

  .bs_text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .brand-story5>ul>li>a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    padding: 5px 20px;
    margin-bottom: 10px;
    background: black;
    color: white;
  }

  /* MOISTURE SURGE */
  /* MOISTURE SURGE */
  /* MOISTURE SURGE */
  /* MOISTURE SURGE */
  /* MOISTURE SURGE */
  .moisture_surge1 {
    position: relative;
    background: linear-gradient(90deg, #F8F8F8, transparent)
  }

  .moisture_surge1>.sg_aloe {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
  }

  .moisture_surge1>.sg_cica {
    position: absolute;
    top: 0;
    right: 0;
    width: 470px;
  }

  .moisture_surge1>.sg_tt {
    position: absolute;
    bottom: 5%;
    right: 23%;
    width: 270px;
  }

  .moisture_surge1>.ms_text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
  }

  .moisture_surge1>.ms_text>h2 {
    font-size: 8em;
    font-family: 'S-CoreDream7';
  }

  .moisture_surge1>.ms_text>p {
    font-size: 20px;
    line-height: 150%;
    margin-top: 15px;
    margin-left: 5px;
  }

  .moisture_surge2 {
    overflow: hidden;
    position: relative;
  }

  .moisture_surge2>h1 {
    font-size: 10em;
    text-align: right;
    font-family: 'S-CoreDream7';
    color: #FEE5D9;
  }

  .moisture_surge2>p {
    color: #4D4D4D;
    margin-left: 300px;
    margin-top: 10px;
    line-height: 150%;
  }

  .moisture_surge2>p>span {
    font-family: 'S-CoreDream7';
    color: black;
    font-size: 1.2em;
  }

  /* 전체 기차역 lay-out */
  .totalStation {
    display: flex;
    margin-left: 300px;
    /* border: 1px solid red; */
    min-width: 1200px;
    overflow: hidden;
  }

  /* 텍스트 기차역 */
  .Station1 {
    /* border: 1px solid blue; */
    width: 400px;
    height: 400px;
  }

  /* 이미지 기차역 */
  .Station2 {
    width: calc(100% - 400px);
    overflow: hidden;
  }

  /* 텍스트 기차 */
  .msTxTrain {
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* 텍스트 리스트 */
  .msTxTrain>li {
    position: absolute;
    bottom: -50px;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
    word-break: keep-all;
  }

  /* 텍스트 리스트에 클래스가 붙으면 */
  .msTxTrain>li.on {
    opacity: 1;
  }

  .msTxTrain>li>h3 {
    font-size: 1.3em;
    line-height: 150%;
    padding: 30px 0;
  }

  .msTxTrain>li>p {
    color: #4D4D4D;
    line-height: 180%;
  }

  .msTxTrain span {
    color: #22D3D6;
  }

  .msImgTrain {
    display: flex;
    width: calc(1100%/3);
    transition: all 0.7s ease 0s;
  }

  .msImgTrain>li {
    width: calc(100%/11);
    height: 500px;
  }

  .msImgTrain img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }

  .msBtn {
    position: absolute;
    bottom: 33%;
    right: 41%;
    cursor: pointer;
    font-size: 4rem;
    color: #9e9e9e;
  }

  /* 3STEP */
  /* 3STEP */
  /* 3STEP */
  /* 3STEP */
  /* 3STEP - page(1)*/
  .step {
    position: relative;
  }

  .step>figure {
    position: absolute;
    top: 30%;
    right: 0;
  }

  .step>figure>img {
    width: 700px;
  }

  .step>div {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 1;
  }

  .step>div>h3 {
    font-size: 25px;
    letter-spacing: 9px;
  }

  .step>div>h1 {
    font-size: 70px;
    padding: 50px 0;
  }

  .step>div>h2 {
    line-height: 180%;
  }

  /* 3STEP - page(2)*/
  .sp1Station {
    border: 1px solid red;
    margin-left: 300px;
    position: relative;
    width: calc(100% - 300px);
    overflow: hidden;
  }

  .sp1Title {
    border: 1px solid red;
    position: absolute;
    top: 12%;
    left: 2%;
  }

  .sp1ImgTrain {
    border: 1px solid green;
    width: 2760px;
    height: 700px;
    display: flex;
    align-items: center;
    margin-top: 150px;
    transition: all 0.7s ease 0s;
  }

  .sp1ImgTrain>li {
    border: 1px solid blue;
    width: 280px;
    height: 500px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.7s ease 0s;
  }

  .sp1ImgTrain>li.on {
    width: 700px;
    height: 700px;
    opacity: 1;
  }

  .sp1ImgTrain>li>.sp1Txt {
    display: none;
    word-break: keep-all;
  }

  .sp1ImgTrain>li.on>.sp1Txt {
    width: 320px;
    height: 400px;
    display: block;
    flex-shrink: 0;
  }

  .sp1ImgTrain>li.on>.sp1Img {
    width: 380px;
    height: 700px;
    flex-shrink: 0;
  }

  .sp1Img {
    width: 280px;
    border: 1px solid red;
  }

  .sp1ImgTrain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sp1ImgTrain h4 {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(0, 122, 65);
  }

  .sp1ImgTrain p {
    line-height: 25px;
  }

  .sp1Txt {
    border: 10px solid black;
    box-sizing: border-box;
    width: 400px;
    height: 500px;
  }

  .sp1Btn {
    position: absolute;
    bottom: 39%;
    left: 22%;
    cursor: pointer;
    font-size: 4rem;
    color: #9e9e9e;
  }

  /* 3STEP - page(3)*/
  .sp2Station {
    border: 1px solid red;
    margin-left: 300px;
    position: relative;
    width: calc(100% - 300px);
    overflow: hidden;
  }

  .sp2Title {
    border: 1px solid red;
    position: absolute;
    top: 12%;
    left: 2%;
  }

  .sp2ImgTrain {
    border: 1px solid green;
    width: 2760px;
    height: 700px;
    display: flex;
    align-items: center;
    margin-top: 150px;
    transition: all 0.7s ease 0s;
  }

  .sp2ImgTrain>li {
    border: 1px solid blue;
    width: 280px;
    height: 500px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.7s ease 0s;
  }

  .sp2ImgTrain>li.on {
    width: 700px;
    height: 700px;
    opacity: 1;
  }

  .sp2ImgTrain>li>.sp2Txt {
    display: none;
    word-break: keep-all;
  }

  .sp2ImgTrain>li.on>.sp2Txt {
    width: 320px;
    height: 400px;
    display: block;
    flex-shrink: 0;
  }

  .sp2ImgTrain>li.on>.sp2Img {
    width: 380px;
    height: 700px;
    flex-shrink: 0;
  }

  .sp2Img {
    width: 280px;
    border: 1px solid red;
  }

  .sp2ImgTrain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sp2ImgTrain h4 {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(0, 122, 65);
  }

  .sp2ImgTrain p {
    line-height: 25px;
  }

  .sp2Txt {
    border: 10px solid black;
    box-sizing: border-box;
    width: 400px;
    height: 500px;
  }

  .sp2Btn {
    position: absolute;
    bottom: 39%;
    left: 22%;
    cursor: pointer;
    font-size: 4rem;
    color: #9e9e9e;
  }

  /* 3STEP - page(4)*/
  .sp3Station {
    border: 1px solid red;
    margin-left: 300px;
    position: relative;
    width: calc(100% - 300px);
    overflow: hidden;
  }

  .sp3Title {
    border: 1px solid red;
    position: absolute;
    top: 12%;
    left: 2%;
  }

  .sp3ImgTrain {
    border: 1px solid green;
    width: 2760px;
    height: 700px;
    display: flex;
    align-items: center;
    margin-top: 150px;
    transition: all 0.7s ease 0s;
  }

  .sp3ImgTrain>li {
    border: 1px solid blue;
    width: 280px;
    height: 500px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.7s ease 0s;
  }

  .sp3ImgTrain>li.on {
    width: 700px;
    height: 700px;
    opacity: 1;
  }

  .sp3ImgTrain>li>.sp3Txt {
    display: none;
    word-break: keep-all;
  }

  .sp3ImgTrain>li.on>.sp3Txt {
    width: 320px;
    height: 400px;
    display: block;
    flex-shrink: 0;
  }

  .sp3ImgTrain>li.on>.sp3Img {
    width: 380px;
    height: 700px;
    flex-shrink: 0;
  }

  .sp3Img {
    width: 280px;
    border: 1px solid red;
  }

  .sp3ImgTrain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sp3ImgTrain h4 {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(0, 122, 65);
  }

  .sp3ImgTrain p {
    line-height: 25px;
  }

  .sp3Txt {
    border: 10px solid black;
    box-sizing: border-box;
    width: 400px;
    height: 500px;
  }

  .sp3Btn {
    position: absolute;
    bottom: 39%;
    left: 22%;
    cursor: pointer;
    font-size: 4rem;
    color: #9e9e9e;
  }

  /* footer */
  footer {
    background: #eee;
    position: relative;
  }

  footer>div {
    width: 1200px;
    margin: 0 auto;
  }

  footer>div:first-child:after {
    content: "";
    position: absolute;
    top: 48%;
    left: 17%;
    width: 82%;
    height: 1px;
    background: #9a9a9a;
  }

  .footTop {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  .foot1>ul {
    display: flex;
    width: 500px;
    height: 150px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .foot1>ul>li {
    width: 250px;
  }

  .foot2 {
    position: relative;
  }

  .foot2>ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
    transform: translateX(-130px);
  }

  .foot2>ul>li>img {
    width: 50px;
  }

  .foot2>.assuar>img {
    position: absolute;
    top: -5px;
    right: 0;
  }

  .footlow {
    padding-bottom: 50px;
    line-height: 170%;
  }

  .underLine {
    text-decoration: underline;
  }

  .footlow2 {
    display: flex;
    width: 1200px;
    height: 50px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .footlow2>p {
    width: 400px;
  }

}