* {
  margin: 0;
  padding: 0;
}

/* layout */
header {
  width: 100%;
  height: 60px;
  background: darkcyan;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
}

header>div {
  background: darkkhaki;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  width: 200px;
  position: fixed;
  left: 0;
  top: 60px;
  height: calc(100% - 60px);
  background: darkgray;
}

main {
  background: darkolivegreen;
  width: calc(100% - 200px);
  margin-left: 200px;
  margin-top: 60px;
}

main>div {
  height: 100vh;
  border: 1px solid red;
}

main .category ul {
  display: flex;
  border: 1px solid blue;
}

main .category ul li {
  border: 1px solid red;
  margin-right: 10px;
}