/* reset */
* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

b,
strong {
  font-weight: normal;
}

i,
em,
address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none
}

/* common */
* {
  background: #ffc845;
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* layout & detail */
.container {
  width: 1320px;
  margin: 0 auto;
}

.container>h1 {
  font-size: 3em;
  margin-bottom: 50px;
}

.proList {
  width: 100%;
  display: flex;
}

.proList>li {
  flex: 1;
  margin-right: 20px;
}

.proList>li:last-of-type {
  margin-right: 0;
}

.proList>li>img {
  width: 100%;
  object-fit: cover;
}

.proList>li>h2 {
  height: 85px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.342);
  font-size: 1.7em;
  font-weight: bold;
  line-height: 120%;
}

.proList>li>p {
  opacity: 0.8;
  padding-top: 20px;
  line-height: 180%;
}