/* 1.RESET */
* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

strong,
b {
  font-weight: normal;
}

i,
em,
address {
  font-style: normal;
}

/* 2.COMMON STYLE (상속스타일) */
html {
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
  font-family: myfont1;
  src: url("../font/PulmuoneLOHASBold.woff");
}

/* 3. LAYOUT(크기,배치) */
div.con1 {
  width: 980px;
  margin: 0 auto;
}

/* 4. DETAIL */
.con1 h2 {
  font-weight: 700;
  margin-bottom: 35px;
  margin-top: 40px;
  font-size: 22px;
}

.con1 p {
  margin-bottom: 35px;
}

.con1 .mb100 {
  margin-bottom: 100px;
}

.con1 .sign {
  margin: 70px 0 35px;
  font-family: myfont1;
  font-size: 30px;
}