* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* slider */
.station {
  width: 500px;
  height: 300px;
  border: 10px solid red;
  margin: 20px auto;
}

.train {
  width: 700%;
  height: 100%;
  display: flex;
  transition: all 0.7s ease 0s;
}

/* .train:after{content:"";display:block;clear:both;} */

.train li {
  width: 14.285714%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid blue;
}

.train li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}