* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #000;
  word-break: keep-all;
}

.wrap {
  margin: 0 auto;
  width: 500px;
  height: 250px;
  border: 1px solid #fff;
}

.tabMenu {
  position: relative;
}

.tabMenu {
  display: flex;
}

.tabMenu>dt {
  height: 50px;
  line-height: 50px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.tabMenu>dt.on {
  border-bottom: 2px solid greenyellow;
}

.tabMenu>dd {
  width: 95%;
  position: absolute;
  top: 80px;
  left: 15px;
  display: none;
  line-height: 30px;
}

.tabMenu>dd.on {
  display: block;
}