* {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

.tabMenu {
  border: 1px solid #fff;
  width: 400px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  position: relative;
}

/* 주제태그 */
.tabMenu>dt {
  border: 1px solid red;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

/* 주제태그에 on클래스가 작동할 때 */
.tabMenu>dt.on {
  background: darkcyan;
  color: white;
}

/* 하단 설명칸 디자인 */
.tabMenu>dd {
  border: 1px solid red;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  display: none;
}

/* 주제태그에 on클래스가 작동할 때 형제 dd태그 디자인 */
.tabMenu>dt.on+dd {
  display: block;
}