/*1.reset*/
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
em,
i {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 2. common - style 대표적으로 글씨체&글씨크기 */
body {
  background: ivory;
  font-family: 'Times New Roman',
    Times,
    serif;
  font-size: 14px;
}

/* 3. layout - (크기, 배치) */
.con1 {
  width: 900px;
  height: 755px;
  margin: 0 auto;
  background: lightyellow url(../images/dream.jpg) no-repeat 100% 100%;
}

/* 4. detail(각 글씨크기, 글씨색상, 배경색, 마진, 패딩 등) */
.con1>h1 {
  font-size: 50px;
  color: white;
  background: green;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
  /* height:100px;
  line-height:100px; */
}

.con1>h2 {
  font-size: 30px;
  background: orange;
  border-bottom: 3px solid red;
}

.con1>p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.copy {
  border-top: 3px solid red;
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
}