* {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

body {
  margin-bottom: 500px;
}

.boxa {
  border: 1px solid #fff;
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

@keyframes naraRotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    border-radius: 50%;
  }

  50% {
    background: grey;
  }

  100% {
    transform: rotate(360deg);
  }
}

.boxa {
  animation-name: naraRotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  /* ↑기본값은 1 (안써도 됨)*/
  animation-direction: alternate;
  /* ↑normal이 기본값(안써도 됨), reverse, alternate*/

  /* animation: naraRotate 5s linear 0s infinite normal; */
}

.boxb {
  width: 400px;
  height: 400px;
  background: rgb(0, 0, 73);
  animation: naraTranslate 5s linear 0s infinite;
  transition: all 0.5s ease 0s;
}

@keyframes naraTranslate {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(100%, 0%);
  }

  50% {
    transform: translate(100%, 100%);
  }

  75% {
    transform: translate(0%, 100%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.boxb:hover {
  animation-play-state: paused;
  /* 마우스를 올렸을 때 애니메이션이 일시정지 됨 */
  background: rgb(70, 0, 0);
  border-radius: 50%;
}

/* span태그는 애니메이션 적용이 안된다. 인라인 속성이기 때문이다. */
.spantag {
  transition: all 0.5s ease 0s;
  position: fixed;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
}

.spantag:hover {
  transform: rotate(90deg);
}