/* common */
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

/* layout(크기/배치) */
.all {
  width: 920px;
  margin: 0 auto;
}

footer {
  background: #F0F0F0;
}

.innerFooter {
  margin: 0 auto;
  width: 920px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

.lnb {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.gnb {
  display: flex;
}