/* common */
html {
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* layout */
.contain {
  background: url(../img/bg_body.jpg) no-repeat;
  background-size: cover;
}

.headermain {
  width: 1000px;
  margin: 0 auto;
}

/* 헤더 메뉴단 */
header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

nav .lnb {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: #555;
  font-size: 0.8rem;
}

nav .lnb>li {
  margin-right: 5px;
}

nav .gnb {
  display: flex;
  width: 700px;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

/* Asian Beauty Creator */
main h2 {
  color: #2A377E;
  font-family: Times New Roman;
  font-size: 60px;
  padding: 60px 0px;
}

/* 채용뉴스 */
.bannerTabMenu {
  width: 380px;
  height: 100px;
  display: flex;
  position: relative;
  margin-bottom: 70px;
}

.bannerTabMenu>dt {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  color: #555;
  font-weight: bold;
}

.bannerTabMenu dd {
  position: absolute;
  top: 30px;
  opacity: 0;
}

.bannerTabMenu>dt.on {
  color: #1F275F;
  border-bottom: 1px solid #1F275F;
}

.bannerTabMenu>dt.on+dd {
  opacity: 1;
}

.bannerTabMenu li {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

/* footer */
footer {
  padding-top: 30px;
  color: white;
  background: url(../img/bg_lower.gif) no-repeat 1000px 0;
  background-color: #2A377E;
}

.bottom {
  margin: 0 auto;
  width: 1000px;
}

.contents {
  display: flex;
  justify-content: space-between;
  width: 600px;
  color: white;
  padding-bottom: 50px;
}

.contents h3 {
  padding: 10px 0;
}

/* 인재상 복리후생 */
/* dl */
.intro {
  width: 200px;
  padding: 10px 0;
  position: relative;
  display: flex;
}

/* dt */
.intro>dt {
  padding: 0 10px;
  margin: 0 2px;
  background: #1F275F;
}

/* dd */
.intro dd {
  position: absolute;
  left: 0;
  top: 40px;
  opacity: 0;
}

.intro>dt.on {
  background: #3F53C5;
}

.intro>dt.on+dd {
  opacity: 1;
}

.familysite {
  border-top: 1px solid white;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

footer label {
  display: none;
}